.gallery img {
    float:left;
    padding-right:12px;
    padding-bottom:12px;
}

form > div {
    margin-bottom:14px;
}

#navigation {
    padding-left:0px;
    margin-left:0px;
}

#navigation li {
    display:inline;
    list-style-type:none;
    padding-right:32px;
}
