.pagination div {
    font-size:2em;
    float:left;
    padding:.5em;
    background-color:#ddedf2;
    border:1px solid #8c8c8c;
    margin-right:.25em;
}

#current {
    background-color:#f9fbfc;
}

#current a {
    text-decoration:none;
}
