body {
    margin:12px;
    padding:0px;
    background-color:#ffffff;
}

body, textarea {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:12px;
}

.error {
    color:#ff0000;
    margin-bottom:14px;
}

.emptylist {
    color:#888888;
}

.messagelist {
    width:400px;
}

#xmessage {
    width:360px;
    height:56px;
}
