body {
    background-color:#ffffff;
}

#main {
    width:400px;
}

#content {
    margin-top:10px;
}

#navigation {
    padding:3px;
    background-color:#eeeeee;
}

#navigation ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

#navigation ul li {
    display:inline;
    padding-right:20px;
}

#settingsmenu {
    margin-bottom:10px;
}

#settingsmenu ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

#settingsmenu ul li {
    display:inline;
    padding-right:20px;
}

.error {
    color:#ff0000;
    margin-bottom:14px;
}

#xmessage {
    width:360px;
    height:56px;
}

.message {
    margin-top:14px;
}

.lonemessage {
    font-size:1.5em;
}

.lonemessage span {
    color:#999999;
	margin-right:10px;
}

.pagination {
    margin-top:16px;
}

.usertitle {
    font-size:1.75em;
}
